.user-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(20 ,1fr);
    gap: 10px;
    align-items: 66%;
    
  }
  
  .user-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .user-card img {
    max-width: 100%;
    height: auto;
  }
  .profile{
    border: 2px solid gray;
    padding: 25px;
  }
 
  .App{
    font-family: sans-serif;
    /* text-align: center;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */ 
  }
  