.user-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(20 ,1fr);
    gap: 20px;
  }
  
  .user-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .user-card img {
    max-width: 100%;
    height: auto;
  }
  